lib-cov
app-cov
covershot
xunit.xml
xunit-core.xml
jshint.xml
main-built.js
coverage.html
assets

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
public/css/*.css
pids
logs
results

node_modules
npm-debug.log

.DS_Store
dist
.nodemonignore